html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

:root {
  --logo-color: #173a56;
  --main-color: #22343d;
  --accent-color: #02897a;
  --secondary-color: #02897a;
  --white-color: #fff;
  --additional-text-color: #2f281e;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 50px;
}

/* HEADER */


/* HERO */

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
}

.hero-description {
  font-size: 18px;
  line-height: 1.56;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  padding: 15px 42px;
  min-width: 178px;
}

.video-link {
  color: var(--accent-color);
  text-decoration: underline;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

/* Product was Built Specifically for You */

.specific-item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 13px;
}

.specific-item-text {
  font-size: 16px;
  line-height: 1.62;
}

.specific-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  padding: 15px 33px;
  min-width: 109px;
}

/* MANAGEMENT */

.sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.card-description {
  font-size: 16px;
  line-height: 1.62;
}

.card-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
}

/* EMPLOYEES */

.employees-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.employees-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.emloyees-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  padding: 15px 30px;
  min-width: 216px;
}

/* STRATEGIES */

.strategies-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
}

.strategies-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.strategies-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.strategies-item-author {
  font-weight: 700;
}

.item-offer {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;

  color: var(--main-color);
}

/* PRICE TABLE */

.price-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
}

.price-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.price-offer-descr {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 2.5;
  color: var(--main-color);
}

.price .price-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.32;
  font-size: 76px;
  letter-spacing: 0.2px;
  color: var(--accent-color);
}

.price-term .price-dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--accent-color);
}

.price-term .price-term-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.1px;
  color: #afafaf;
}

.price-benefits .price-benefits-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: var(--main-color);
  /* text-align: center ; */
}

.price-button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin: 0;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  padding: 11px 19px;
  min-width: 102px;
}

.price-button:hover,
.price-button:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}

.price-item:hover {
  background-color: var(--accent-color);
}

.price-item:hover .item-offer {
  color: white;
}

.price-item:hover .price-offer-descr {
  color: white;
}

.price-item:hover .price-benefits-item {
  color: white;
}

.price-item:hover .price-term-descr {
  color: #e0e0e0;
}

.price-item:hover .price-value {
  color: white;
}

.price-item:hover .price-dollar {
  color: white;
}

.price-item:hover .price-button {
  background-color: white;
  color: var(--accent-color);
}

/* CLIENTS */

.clients-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.2px;
}

.clients-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  /* text-align: center; */
  letter-spacing: 0.2px;
}

.client-review {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: #737373;
}

.clients-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--accent-color);
}

.clients-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #252b42;
}

/* 100 COMPANIES */

.companies-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  /* color: var(--white-color) */
}

.companies-button {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin: 0;
  color: var(--accent-color);
  background-color: var(--white-color);
  border: transparent;
  padding: 10px 34px;
  min-width: 82px;
}

/* FOOTER */

.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-list-item {
  font-size: 16px;
  line-height: 2.19;
}

.footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: transparent;
  padding: 8px 15px;
  min-width: 131px;
}

.copyright {
  font-style: 16px;
  line-height: 1.88;
}

/* ////////your code */


.secondary-button {}

/* HERO */

.hero {
  padding: 90px 0;
}

.hero-container {
  display: flex;
}

.hero-img {
  flex-shrink: 0;
}

.hero-wrap {
  padding: 112px 0;
  padding-right: 35px;
}

.hero-title {
  margin-bottom: 18px;
}

.hero-description {
  margin-bottom: 45px;
}

.buttons-hero {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* ============================== */

.price {
  padding-bottom: 90px;
}

.price-title {
  text-align: center;
}

.price-descr {
  text-align: center;
  margin-bottom: 40px;
}

.price-list {
  display: flex;
  gap: 72px;
}

.list {}

.price-item {
  padding: 32px 10px;
  text-align: center;
  width: 322px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.item-offer {
  margin-bottom: 7px;
}

.price-offer-descr {
  margin-bottom: 16px;
}

.price-value {
  margin-right: 7px;
}

.price-dollar {}

.price-term-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.price-benefits {
  /* margin-bottom: 30px; */
}

.price-benefits-item {}

.price-benefits-item:not(:last-child) {
  margin-bottom: 9px;
}

.price-button {}

.price-dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--accent-color);
  text-align: left;
}

/* \\\\ */
.price-sign {}

.price-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 16px; */
}

.term-wrap {
  display: flex;
  flex-direction: column;
}

.specific-list {
  display: flex;
}

.specific-icon {
  fill: white;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #02897a;
  border-radius: 19px;
  width: 54px;
  height: 54px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 300px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-scroll {
  overflow: hidden;
}



/* @keyframes snake {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
} */
.menu-link {
  position: relative;
}

.menu-link:hover::after {
  opacity: 1;
}

.menu-link::after {
  opacity: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 50%;

  background-color: #02897a;
}

.current::after {
  opacity: 1;
}

.switch {
  width: 1px;
  height: 1px;
  padding: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.check {
  display: block;
}

.toggle-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 34px;
  transition: background-color 500ms linear;
}

.toggle {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 500ms linear;
}

.switch:checked + .toggle-wrap {
  background-color: var(--accent-color);
}

.switch:checked + .toggle-wrap .toggle {
  transform: translate(35px, -50%);
}