// .header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .logotype {
//   display: flex;
//   align-items: center;
// }

// .logo-img {
//   margin-right: 16px;
// }

// .page-nav {
//   display: flex;
//   padding-top: 26px;
//   padding-bottom: 26px;
//   align-items: center;
// }

// .menu-nav {
//   display: flex;
//   align-items: center;
//   gap: 30px;
//   margin-right: 24px;
// }

// .menu-button {
//   display: flex;
//   align-items: center;
//   gap: 24px;
//   margin-right: 29px;
// }

// .logo-text {
//   display: block;
//   color: var(--logo-color);
//   font-weight: 700;
//   font-size: 30px;
//   line-height: 0.93;
//   margin-bottom: 0;
// }

// .menu-link {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.75;
//   color: var(--main-color);
// }

// .current {
//   font-weight: 600;
// }

// .button {
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 1.5;
//   font-family: inherit;
//   text-align: center;
//   border-radius: 4px;
//   cursor: pointer;
//   margin: 0;
// }

// .button.secondary-button {
//   color: var(--logo-color);
//   border: 1px solid #bcd0e5;

//   background-color: var(--white-color);
//   min-width: 102px;
//   padding-top: 9px;
//   padding-bottom: 9px;
//   padding-left: 24px;
//   padding-right: 23px;

//   animation: pulse 2s infinite;
// }

// .primary-buttom {
//   color: var(--white-color);
//   background-color: var(--accent-color);
//   border: 1px transparent;
//   padding-top: 9px;
//   padding-bottom: 9px;
//   padding-left: 24px;
//   padding-right: 23px;
// }

// .hero-button{
//   @extend %hero-button;
// }

// .price-wrap{
//   @include center-flex($ai:baseline);
// }

// .main__auto-wrap {
//   width: 900px;
//   height: 300px;
//   display: flex;
// }

// .auto-wrap {
//   height: 300px;
//   width: 300px;
// }

// @each $auto in audi, bmw, mercedes, tesla {
//   .#{$auto} {background-image: url('../images/#{$auto}.jpg') ;}
// }
@mixin mq($type) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $type == 'mob' {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }

  @if $type == 'mob-only' {
    @media screen and (max-width: ($tablet - 0.02)) {
      @content;
    }
  }

  @if $type == 'tab' {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $type == 'tab-only' {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
      @content;
    }
  }

  @if $type == 'desk' {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }

  @if $type == 'not-desk' {
    @media screen and (max-width: ($desktop - 0.02)) {
      @content;
    }
  }

}

.price-list{
  display: flex;
  gap: 72px;
  flex-direction: column;
  columns: 2;
}

// .price-list{
//   display: flex;
//   gap: 72px;
// }

.price-item {
  padding: 32px 10px;
  text-align: center;
  width: 322px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  // @media screen and (max-width: 768px) {
  //   margin-bottom: 20px;
  // }
	@include mq(mob-only) {
		margin-bottom: 20px;
	}
}


.price-list {
  @include mq(tab){
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
  @include mq(tab-only){
    width: 720px;
  }
  }
  .price-item{
    @include mq(tab){
      margin-bottom: 0;
    }
  
  }
img{
  display: block;
  max-width: 100%;
  height: auto;
}
  .inggg{

     max-width: 418px;

  
    @include mq(tab){
      max-width: 100%;
      width: 450px;
    }
    @include mq(desk){
      width: 370px;
    }
  }
 




.price-list {
  @include mq(tab) {
    gap: 72px;
    display: flex;
    width: 100%;
  }

  @include mq(tab-only) {
    width: 720px;
    flex-wrap: wrap;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.thumb {
  @media screen and (max-width: 767px) {
    max-width: 418px;    
  }

  @media screen and (min-width: 768px){
    width: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.thumb{
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/responsive/barber-s-@x1.jpg");
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/responsive/barber-s-@x2.jpg");
   }
  @media screen and (min-width: 481px){
    background-image: url("../images/responsive/barber-m-@x1.jpg");
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/responsive/barber-m-@x2.jpg");
      }
  }
  @media screen and (min-width: 769px){
  background-image: url("../images/responsive/barber-l-@x1.jpg");

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../images/responsive/barber-l-@x2.jpg");
  }
}
}
