%hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: transparent;
    padding: 15px 42px;
    min-width: 178px;
}



